.saloon_container{
    margin-top: 55px;
    width: 100%;
    height: 70vh;
    background-color: #AFEEEE;
}

.saloon_row{
    position: relative;
    top: 50px;
}

.saloon_image{
    width: 95%;
    height: 60%;
    opacity: 1;
}

.beauty_header{
    color: var(--text-color-ed6);
    font-size: xx-large;
    font-weight: 900;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.beauty_text{
    width: 40%;
    color: var(--text-color-ed6);
    font-size: medium;
    font-weight: 200;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}