.demoform_container{
    width: 100%;
    height: 85vh;
}

.demoform_contact{
    position: relative;
    top: 20px;
    font-weight: 900;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: var(--text-color-b05);
}

.demoform_text{
    font-weight: 900;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--text-color-b05);
}

.demoform_form{
    position: relative;
    left: 20px;
    top: 30px;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--text-color-333);
}

/* .success_message_demoform{
 text-align: center;
 font-size: xx-large;
} */