.demoform_modal_container{
    width: 400px;
    height: 500px;
}

.demoform_contact{
    font-weight: 900;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: var(--text-color-b05);
}

.demoform_text{
    font-weight: 900;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--text-color-b05);
}

.demoform_modal_form{
    position: absolute;
    left: 20px;
    top:70px;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--text-color-fff);
}

.demo_form_modal_head{
    position: relative;
    top: -20px;
    text-align: center;
    color: #fff;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}

.demo_form_modal_btn_cancle{
    width: 150px;
    font-size: medium;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}