.success_messsage{
    text-align: center;
    font-size: x-large;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}

.succcess_modal_tick{
    position: relative;
    top: 50px;
}