.spa_container{
    margin-top: 60px;
    width: 100%;
    height: 70vh;
}

.spa_row{
    position: relative;
    top: 50px;
}

.spa_image{
    width: 95%;
    height: 60%;
    border-radius: 10px;
    opacity: 1;
}

.spa_header{
    color: var(--text-color-453);
    font-size: xx-large;
    font-weight: 900;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.spa_text{
    width: 40%;
    color: var(--text-color-453);
    font-size: medium;
    font-weight: 200;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}