.top_nav_navbar{
  box-shadow: 0px 4px 80px rgba(52, 52, 52, 0.04);
  background-color:mediumpurple;
  justify-content: space-evenly;
}
.top_nav_userlogo{
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #E7E3FF;
    text-align: center;
}
.nav-link{
    color: #fff !important;

}

.top_nav_brand{
    font-size: x-large;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #B6C8D8 !important ;

}

.toggle_btn{
 opacity: 0;
}

.top_nav_belllogo{
   padding-right: 15px;
}

.dropdown-toggle{
    transform: none;  
}

.top_nav_dropdown .dropdown-toggle{
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.top_nav_search{
   padding-right: 15px;
}

.demo_btn{
    background-color:lightcoral !important ;
    border-radius: 10px !important ;
}


