.gym_container{
    margin-top: 55px;
    width: 100%;
    height: 80vh;
    background-color: #B0C4DE
}

.gym_row{
    position: relative;
    top: 50px;
}

.gym_image{
    width: 95%;
    height: 60%;
    border-radius: 10px;
    opacity: 1;
}

.gym_header{
    color: var(--text-color-453);
    font-size: xx-large;
    font-weight: 900;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.gym_text{
    width: 40%;
    color: var(--text-color-453);
    font-size: medium;
    font-weight: 200;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}