body{
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

:root {
  --bg-color: #fcfcfc;
  --text-color-fff: #ffffff;
  --text-color-000: #000000;
  --text-color-453: #4535aa;
  --text-color-d6d: #d6d1f5;
  --text-color-ed6: #ed639e;
  --text-color-b05: #b05cba;
  --text-color-ccd: #ccd6eb;
  --text-color-e5e: #e5e5e5;
  --text-color-d51: #d5103e;
  --text-color-9c9: #9c9c9c;
  --text-color-333: #333333;
}
